@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<header class="text-center">
    <h1 class="display-4 text-center">CO453 Application Probramming 2022</h1>
    <h2>Sudath Nawagamuwage</h2>
</header>
<section>

    <ul class="list-group">
        <li class="list-group-item">
            <a href="/DistanceConverter">1. App01 Distance Converter</a>
        </li>
        <li class="list-group-item">
            <a href="#">2. App02 BMI Calulator</a>
        </li>
    </ul>

</section>
