@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CO453 Application Programming</h1>
    <h2>By Sudath Nawagamuwage</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<section>
    <ul> Distance Converter</ul>
    BMI Caculator
</section>
