@page
@model Web.Pages.DistanceConverter.IndexModel
@{
}
<div class="f">
    <h1>Distance Converter</h1>
    <h2>By Sudath Nawagamuwage</h2>
</div>

<section>
    <from class="from-group border-dark" method="post">
        <h4> </h4>
    </from>
</section>
