@{
    ViewData["Title"] = "Sudath Nawagamuwage Home Page";
}

<header class="text-center jumbotron justify-content-center">
    <h1 class="display-4">CO453 Application Programming</h1>
    <h2>By Sudath Nawagamuwage</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</header>
<section>
    <ol class="list-group">
        <li class="list-group-item">
            <a class="btn btn-success" asp-controller="Home"
               asp-controller="Home" asp-action="DistanceConverter">App 01</a>
            Distance Converter
        </li>
        <li class="list-group-item">
            <a class="btn btn-info" asp asp-controller="Home"
                asp-controller="Home" asp-action="BmiCalculator">App 02</a>
            BMI Calculator
        </li>
        <li class="list-group-item">
            <a class="btn btn-warning" asp asp-controller="Home"
                asp-controller="Home" asp-action="StudentMarks">App 03</a>
            Student Marks
        </li>
    </ol>
</section>