@{
    ViewData["Title"] = "Home Page";
}


<header class="justify-content-around">
    <h1>sudath </h1>

</header>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
